SUPABASE_URL=https://szomgrcfslybctuanuty.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN6b21ncmNmc2x5YmN0dWFudXR5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODMzNTY1NzYsImV4cCI6MjA5ODkzMjU3Nn0.sFQNAPguOBlw9gYoFcMa03hJgfc7foPjFfV8O5iXVrI
GEMINI_API_KEY=dummy
